sesi 1

Floating Point

In [1]:
print(4.2)
print(type(4.2))

print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

STRING

In [2]:
print('PYTN-KS17')
print(('PYTN-KS17'))

PYTN-KS17
PYTN-KS17

In [4]:
print("this string contains single quote (') character.")
print('this string contains double quote (") character.')

this string contains single quote (') character.
this string contains double quote (") character.

BOOLEAN

In [5]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

variables Assigment

In [6]:
n = 300
print(n)

300

In [7]:
n = 1000
print(n)
n

1000

1000

In [8]:
# Multiple Assignment
a = 300
b = 300
c = 300
print(a, b, c)

300 300 300

Variables Type

In [9]:
var = 42.0
print(var)

var = 'Jadi String'
print(var)

42.0
Jadi String

Naming Rules

In [10]:
name = 'Hacktiv8'
Age = 69
has_laptop = True

print(name, Age, has_laptop)

Hacktiv8 69 True

In [11]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5

In [12]:
print(age, Age, aGe, AGE, a_g_e)

1 2 3 4 5

In [13]:
# camelCase
tinggiBadan = 170.0
hasPhoneOrLaptop = True

# PascalCase
TinggiBadan = 168.0
HasPhoneOrLaptop = False

# snake_case
tinggi_badan = 160.0
has_phone_or_laptop = True

In [14]:
print(tinggiBadan, hasPhoneOrLaptop)
print(TinggiBadan, HasPhoneOrLaptop)
print(tinggi_badan, has_phone_or_laptop)

170.0 True
168.0 False
160.0 True

Arimathic Operator

In [15]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

print(62 // 3) # Floor Division

7
1
12
1.3333333333333333
1
64
20

Comparison Operator

In [16]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

print(a < b)
print(a > b)

False
True
True
False
True
False